[flake8]
exclude =
	.git,
	docs,
	build,
	.eggs,
	docs/conf.py,
ignore =
	C,
	D,
	E,
	F,
	RST210,
	RST213,
	W503
per-file-ignores =
rst-roles =
	doc,
	mod,
	py:attr,
	py:attribute,
	py:class,
	py:const,
	py:data,
	py:func,
	py:meth,
	py:mod,
	py:obj,
	py:ref,
	ref
