version: '3'
services:
  # To periodically refresh deps or have weird error: `docker-compose build --no-cache wps`
  # `docker-compose run wps`
  # WPS service available at: http://localhost:9099/wps
  # Test: make WPS_URL=http://localhost:9099/wps test-notebooks
  wps:
    build: .
    image: raven-wps
    volumes:
      - ./:/opt/wps
    ports:
      - "9099:9099"

  # To use:
  # (1) Make sure you have raven-testdata locally (https://github.com/Ouranosinc/raven-testdata)
  #     besides this repo checkout to satisfy the volumes mount assumption.
  # (2) Run: docker-compose run tests
  #
  # In case of weird error or to ensure all dependencies are up-to-date
  # rebuild from scratch: `docker-compose build --no-cache tests`
  # and re-run `docker-compose run tests` again.
  tests:
    build: .
    image: raven-wps-tests
    volumes:
      - ../raven-testdata:/testdata
      - ./:/opt/wps
    environment:
      - RAVEN_TESTDATA_CACHE_DIR=/testdata
    command: bash -c "source activate wps && pytest -x"
