name: raven
channels:
- conda-forge
- defaults
dependencies:
- pip
- six
- pywps==4.2.3
- unidecode
- birdy
#- owslib==0.18
- poppler
- jinja2
- click
- psutil
- numpy
- scipy
- xarray==0.16.1
- xclim==0.18
- rioxarray
- matplotlib
- dask
- pandas
- geopandas
- geojson
- netcdf4
- libnetcdf #==4.6.2  # Avoid core dump with 4.7.1. Can be unpinned when 4.7.1 is not the latest anymore.
- gdal==3.0.4
- fiona
- pyproj
- descartes
- cartopy
- affine
- rasterio
- rasterstats
- rtree
- shapely
- bump2version
- statsmodels
- pandoc
- nbval
- ipyleaflet
- pysheds
- psycopg2
- xskillscore
- pip:
  - spotpy
  - urlpath
