name: raven
channels:
- birdhouse
- conda-forge
- defaults
dependencies:
- pywps>=4.1.17
- jinja2
- click
- psutil
- xarray
- pandas
- bumpversion
- fiona
- pycrs
- pyproj
#- pysheds
- rasterio
- rasterstats
- shapely
