name: raven
channels:
- birdhouse
- conda-forge
- defaults
dependencies:
- pywps>=4.2
- poppler
- jinja2
- click
- psutil
- xarray
- dask
- pandas
- geopandas
- netcdf4
- libnetcdf
- gdal>=2.3
- fiona
- pycrs
- pyproj
- affine
- rasterio
- rasterstats
- rtree
- shapely
- bumpversion
- statsmodels
- pip:
  - spotpy

