include Makefile
include *.txt
include *.rst
include *.json
include *.yaml
include *.yml

recursive-include raven *
recursive-include docs *
recursive-include tests *

exclude .dockerignore
exclude .editorconfig
exclude .lfsconfig
exclude Dockerfile
exclude Makefile
exclude tests/.coverage
exclude docs/source/output-sanitize.cfg

global-exclude __pycache__
global-exclude *.py[co]

recursive-exclude docs/source/notebooks/.ipynb_checkpoints *
recursive-exclude docs/source/paper *
recursive-exclude docs/build *
recursive-exclude etc *.cfg
