six
pywps==4.2.3
owslib==0.18
lxml
jinja2
click
psutil
numpy
scipy
matplotlib
xarray==0.16
xclim==0.18
pandas
requests
netCDF4
dask
toolz
spotpy
statsmodels
# GIS LIBRARIES
# pycrs --- Depends on online database requests --> SLOW
# gdal~=2.4
pysheds
affine
rtree
fiona
descartes
geopandas
pyproj~=2.5.0
rasterio
rasterstats
shapely
unidecode
geojson
pandoc
ipyleaflet
ipython # needed for the parsing of Jupyter Notebooks
# salem # needed for figures in some notebooks
psycopg2 # to use postgres to log pywps requests like in Prod
# xclim It seems to be installed by pip in src/ and confuse pytest.
xskillscore
bokeh
distributed
partd
fsspec
gdal==3.0.4
