ravenpy >= 0.2.3
six
pywps==4.2.9
owslib
lxml
jinja2
click
psutil
numpy
scipy
matplotlib
xarray
xclim>=0.23
pandas
requests
netCDF4
dask
toolz
spotpy
statsmodels
# GIS LIBRARIES
pysheds
affine
rtree
fiona
descartes
geopandas
pyproj>=2.5.0
rasterio
rasterstats
shapely
unidecode
geojson
pandoc
ipyleaflet
ipython # needed for the parsing of Jupyter Notebooks
psycopg2 # to use postgres to log pywps requests like in Prod
xskillscore
bokeh
distributed
partd
fsspec
gdal
