six
pywps>=4.2
jinja2
click
psutil
numpy
scipy
xarray
pandas
netCDF4
dask
pathlib
toolz
spotpy
statsmodels
# GIS LIBRARIES
# gdal>=2.3 --- Not compatible with rasterio!
# pycrs --- Depends on URL requests -> Slow
pysheds
affine
rtree
fiona
geopandas
pyproj
rasterio
rasterstats
shapely


