name: raven-wps

on:
  push:
    branches:
      - master
  pull_request:

env:
  MAIN_TESTDATA_BRANCH: "master"

jobs:
  black:
    name: Code linting
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
            access_token: ${{ github.token }}
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Run linting suite
        run: pre-commit run --all-files

  conda:
    name: Conda (Python${{ matrix.python-version }})
    needs: black
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
    steps:
      - uses: actions/checkout@v3
      - name: Setup Conda (Micromamba) with Python${{ matrix.python-version }}
        uses: mamba-org/provision-with-micromamba@main
        with:
          cache-downloads: true
          environment-file: environment.yml
          extra-specs: |
            python=${{ matrix.python-version }}
      - name: Conda and Mamba versions
        run: |
            echo "mircomamba $(micromamba --version)"
            conda --version
      - name: Install RavenWPS
        run: |
          python3 -m pip install -e ".[dev]"
      - name: List installed packages
        run: |
          conda list
      - name: Test RavenPy
        run: |
          python3 -m pytest tests

  finish:
    name: Finish
    needs:
      - conda
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
      - name: Finished
        run: echo "Finished!"
